body{
    background-color: black;
    color: rgb(176, 176, 192);
     font-family: "Crimson Text", serif;
}

header{
    border:solid 3px rgb(0, 0, 0)
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}