body{
    background-color: black;
    color: rgb(247, 244, 241);
    font-family: "Isometra", serif;
    margin: 10px;
}

header{
    border-bottom: solid 1px;
    padding: 55px;
    font-size: 25px;
    color: rgb(245, 239, 233);
    text-align: center;
}

section{
    background-color: bisque ;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    color: black;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 30px;
}

p{
    font-size: 18px;
}